.grid-container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 300px 300px 300px 300px;
     gap: 20px;
 
 }
 
 .grid-item {
     border: 2px solid black;
     transition: all 1s;
     
  }
 .grid-item img{
      width: 100%;
      height: 296px;
      object-fit: cover;
  }
 
 .grid-item:hover {
      transform: scale(1.5);
 }
 
